.metadata/*
.recommenders/*
servers/*
package-lock/*
RemoteSystemsTempFiles/*
ChatAppFront/ChatAppFront/node_modules
ChatAppFront/ChatAppFront/e2e
ChatApp/.classpath
ChatApp/.project
ChatApp/.licence
ChatApp/.README
ChatApp/.settings
ChatApp/build
ChatApp/libs
package-lock
UserApp/.classpath
UserApp/.project
UserApp/.licence
UserApp/.README
UserApp/.settings
UserApp/build
UserApp/libs
