.metadata/*
.recommenders/*
servers/*
package-lock/*
RemoteSystemsTempFiles/*
ChatAppFront/ChatAppFront/node_modules
ChatAppFront/ChatAppFront/e2e
ChatApp_DWA/.classpath
ChatApp_DWA/.project
ChatApp_DWA/.licence
ChatApp_DWA/.README
ChatApp_DWA/.settings
ChatApp_DWA/build
ChatApp_DWA/libs
package-lock
UserApp_DWA/.classpath
UserApp_DWA/.project
UserApp_DWA/.licence
UserApp_DWA/.README
UserApp_DWA/.settings
UserApp_DWA/build
UserApp_DWA/libs
/.metadata/
/.recommenders/
