<div *ngIf="!authenticated" class="home-div">
  <h2>Welcome to Clustered-Chat-App!</h2>
</div>

<div *ngIf="authenticated" class="container">
	<div class="row">
                 <div class="col-sm-4">
                  <a *ngFor="let participant of participants" (click)="getMessages(participant)" class="chatperson">
                    <span class="chatimg">
                        <img src="http://via.placeholder.com/50x50?text={{participant}}" alt="" />
                    </span>
                    <div class="namechat">
                        <div class="pname">{{participant}}</div>
                    </div>
                    </a>
                 </div>
                 <div class="col-sm-8">
                  <div class="chatbody">

                  <table class="table">
                    <tr *ngFor="let m of messages">
                      <td><img src="http://via.placeholder.com/50x50?text={{m.senderId}}" /></td>
                      <td>{{m.content}}</td>
                      <td>{{convertToDate(m.sendingTime) | date:'medium'}}</td>
                    </tr>
                  </table>

                  </div>

                  <div *ngIf="messageInfo.active!=null" class="row">
                    <div class="col-md-9">
                      <input type="text" placeholder="Your message..." class="form-control" [(ngModel)]="messageInfo.sendText"/>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-info btn-block" (click)="send()">Send</button>
                    </div>
                  </div>

                 </div>
             </div>
</div>