<div *ngIf="!authenticated" class="home-div">
  <h2>Welcome to Clustered-Chat-App!</h2>
</div>

<div *ngIf="authenticated" class="container">
	<div class="row">
                 <div class="col-sm-4">
                  <a *ngFor="let p of participants" (click)="getMessages(p)" class="chatperson">
                    <span class="chatimg">
                        <img *ngIf="p.participant!=null" src="http://via.placeholder.com/50x50?text={{p.participant}}" alt="" />
                        <img *ngIf="p.groupName!=null" src="http://via.placeholder.com/50x50?text={{p.groupName}}" alt="" />
                    </span>
                    <div class="namechat">
                        <div *ngIf="p.participant!=null" class="pname">{{p.participant}}</div>
                        <div *ngIf="p.groupName!=null" class="pname">{{p.groupName}}</div>
                    </div>
                    </a>
                    <a class="chatperson" (click) = "getFriends()">Choose friends to chat</a>
                    <a class="chatperson" (click) = "getMyGroups()">Choose created groups to chat</a>
                    <a class="chatperson" (click) = "getAddedGroups()">Choose groups you belong to chat</a>
                    <div *ngIf="possibleParticipants!=null">
                    <a *ngFor="let pp of possibleParticipants" class="chatperson" (click)="messageParticipant(pp)">
                        <span class="chatimg">
                            <img *ngIf="pp.participant!=null" src="http://via.placeholder.com/50x50?text={{pp.participant}}" alt="" />
                            <img *ngIf="pp.groupName!=null" src="http://via.placeholder.com/50x50?text={{pp.groupName}}" alt="" />
                        </span>
                        <div class="namechat">
                            <div *ngIf="pp.participant!=null" class="pname">{{pp.participant}}</div>
                            <div *ngIf="pp.groupName!=null" class="pname">{{pp.groupName}}</div>
                        </div>
                        </a>
                      </div>
                 </div>
                 <div class="col-sm-8">
                  <div class="chatbody">

                  <table class="table">
                    <tr *ngFor="let m of messages">
                      <td><img src="http://via.placeholder.com/50x50?text={{m.senderId}}" /></td>
                      <td>{{m.content}}</td>
                      <td>{{convertToDate(m.sendingTime) | date:'medium'}}</td>
                    </tr>
                  </table>

                  </div>

                  <div *ngIf="messageInfo.active!=null" class="row">
                    <div class="col-md-9">
                      <input type="text" placeholder="Your message..." class="form-control" [(ngModel)]="messageInfo.sendText"/>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-info btn-block" (click)="send()">Send</button>
                    </div>
                  </div>

                 </div>
             </div>
</div>