<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink= "" class="navbar-brand mouse" >Chat App</a>
    </div>

    <div class="nav navbar-nav navbar-right" id="navbar">
      <ul class="list-inline">
        <li class="list-inline-item"><a *ngIf = "authenticated" routerLink="/friends" class="mouse"><span class="glyphicon glyphicon-user"></span> My friends</a></li>
        <li class="list-inline-item"><a  routerLink="/register" class="mouse"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li class="list-inline-item"><a *ngIf = "!authenticated" routerLink="/login" class="mouse"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        <li class="list-inline-item"><a *ngIf = "authenticated" class="mouse" (click) = "logout()"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        <li class="list-inline-item"><a *ngIf = "authenticated" ><span class="glyphicon glyphicon-log-in"></span> Logged in as {{logovan}}</a></li>

      </ul>
    </div>
  </div>
</nav>
