<h1 align="center">
  Registration is free and always will be
</h1>

<div *ngIf="errorMessage !== null" class="errorContainer">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='hideError()'>
      <span aria-hidden="true">&times;</span></button>
      {{errorMessage}}
  </div>
</div>

<div align="center" *ngIf="registered === false">
    <form class="registerForm form-horizontal" #regForm="ngForm">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label"> Name: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" placeholder="Your name..."
                  name="name" [(ngModel)]="regInfo.name" required minlength="2" #name="ngModel">
        </div>
        <div [hidden]="name.pristine || name.valid" class="alert alert-danger">Name invalid</div>
      </div>

      <div class="form-group">
        <label for="surname" class="col-sm-2 control-label"> Last name: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="surname" placeholder="Your last name..."
                name="surname" [(ngModel)]="regInfo.lastname" required #surname="ngModel">
        </div>
        <div [hidden]="surname.pristine || surname.valid" class="alert alert-danger">Name invalid</div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label" minlength="4"> Username: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" placeholder="Something creative" minlength="2"
                 name="username" [(ngModel)]="regInfo.username" required #username="ngModel">
        </div>

        <div [hidden]="(username.untouched && username.pristine) || (username.valid && regInfo.username.length > 0)"
             class="alert alert-danger">Username required</div>
      </div>

      <div class="form-group">
        <label for="password1" class="col-sm-2 control-label"> Password: </label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password1" placeholder="Enter password..."
                  name="password" [(ngModel)]="regInfo.password" minlength="6" required #password1="ngModel">
        </div>
        <div [hidden]="password1.touched">Should contain at least 6 characters</div>
        <div [hidden]="(password1.untouched && password1.pristine) || (password1.valid && regInfo.password.length > 0)"
              class="alert alert-danger">Password required</div>
      </div>

      <div class="form-group">
        <label for="password2" class="col-sm-2 control-label"> Re-enter password: </label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password2" placeholder="Password again..."
                  name="repeatPW" [(ngModel)]="repeatPW" #password2="ngModel" required>
        </div>
        <div [hidden]="repeatPW == regInfo.password || password2.pristine" class="alert alert-danger">
          Passwords don't match.
        </div>
      </div>

      <div class="form-group">
        <div align="center">
          <button type="button" class="btn btn-success" (click)="tryRegister()"
                  [disabled]="!regForm.valid">Register</button>
        </div>
      </div>
  </form>
</div>
